<H2>Add to library</H2>

<!-- USE GET TO DISPLAY BOOKS-->

<p><input type="text" placeholder="Title" ng-model="vm.titleIn"></p>
<p><input type="text" placeholder="Author" ng-model="vm.authorIn"></p>
<p><input type="text" placeholder="Year" ng-model="vm.yearIn"></p>
<p><input type="text" placeholder="Summary" ng-model="vm.summaryIn"></p>
<p><input type="text" placeholder="Genre" ng-model="vm.genreIn"></p>

<button class="btn btn-success" ng-click="vm.addBook()">SUBMIT</button>

<!-- USE POST TO COLLECT INPUTS FOR NEW BOOKS -->




