<h1>Add to Library</h1>

<p><input type="text" placeholder="Title" ng-model="vm.titleIn"></p>
<p><input type="text" placeholder="Author" ng-model="vm.authorIn"></p>
<p><input type="text" placeholder="Year" ng-model="vm.yearIn"></p>
<p><input type="text" placeholder="Summary" ng-model="vm.summaryIn"></p>
<p><input type="text" placeholder="Genre" ng-model="vm.genreIn"></p>

<button class="btn btn-success" ng-click="vm.addBook()">SUBMIT</button>



<!-- COULD NOT GET GENRE DROPDOWN MENU TO POPULATE, BUT THE SAME DROPDOWN FILLS ON HOME.HTML -->
<!-- <p><select>
        <option value="">Genres</option>
        <option ng-repeat="genre in vm.genreArray" value="{genre.id}}">{{genre.genre}}</option>
    </select></p> -->
