<h1>{{vm.message}}</h1>

        <select name="Genres">
        <option value="">ALL</option></select>


<table class="table">
    <thead>
        <th>TITLE</th>
        <th>AUTHOR</th>
        <th>YEAR</th>
        <th>SUMMARY</th>
        <th>REMOVE BOOK?</th>
    </thead>

    <tbody>
        <tr ng-repeat="book in vm.bookArray">
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.year}}</td>
            <td>{{book.summary}}</td>
            <td><button ng-click="vm.deleteBook( book.id )">Remove Book</button></td>
        </tr>
    </tbody>
</table>