<h1>{{vm.message}}</h1>

<section class="dropdown">
<h3>Genres:</h3>
<!-- Add sort function to each genre -->
    <select>
        <option value="">ALL</option>
        <option ng-repeat="genre in vm.genreArray" value="{{genre.id}}">{{genre.genre}}</option>
    </select>
</section>
<br>
<table class="table table-striped">
    <thead>
        <th>TITLE</th>
        <th>AUTHOR</th>
        <th>YEAR</th>
        <th>SUMMARY</th>
        <th>REMOVE BOOK?</th>
    </thead>

    <tbody>
        <tr ng-repeat="book in vm.bookArray">
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.year}}</td>
            <td>{{book.summary}}</td>
            <td><button ng-click="vm.deleteBook( book.id )">Remove Book</button></td>
        </tr>
    </tbody>
</table>