body {
    text-align: center;
    padding: 50px;
    background-color: papayawhip;
    font-family: 'PT Sans Narrow', sans-serif;
  }
  
  .dropdown {
    text-align: right;
  }

  h1 {
    font-size: 4rem;
  }